In [1]:
import sqlite3

In [2]:
#query database and return all records
def show_all():
    conn = sqlite3.connect('customer.db')

    #create cursor
    c = conn.cursor()
    
    #query database
    c.execute("SELECT rowid, * FROM costumers")
    items = c.fetchall()

    for item in items:
        print(item)
        
    #commit our command
    #conn.commit()

    #close connection
    conn.close()

In [3]:
show_all()

(1, 'John', 'Elder', 'john@codemy.com')
(2, 'Gabriel', 'Muller', 'gabriel@codemy.com')
(3, 'Lukas', 'Muller', 'lukasmullerdeoliveira@codemy.com')
(4, 'Ingrid', 'Muller', 'dida_muller@hotmail.com')
(5, 'Francisco', 'Jose', 'fpinheir@gmail.com')
(6, 'Wes', 'Brown', 'wes@brown.com')
(7, 'Steph', 'Kuewa', 'steph@kuewa.com')
(8, 'Dan', 'Pas', 'dan@pas.com')

In [5]:
#add a new record to the table
def add_one(first, last, email):
    conn = sqlite3.connect('customer.db')

    #create cursor
    c = conn.cursor()

    c.execute("INSERT INTO costumers VALUES(?,?,?)",(first,last,email))

    print('Commnad executed succesfully')
    #commit our command
    conn.commit()

    #close connection
    conn.close()

In [6]:
add_one('Laura','Smith','laura@smith.com')

Commnad executed succesfully

In [7]:
show_all()

(1, 'John', 'Elder', 'john@codemy.com')
(2, 'Gabriel', 'Muller', 'gabriel@codemy.com')
(3, 'Lukas', 'Muller', 'lukasmullerdeoliveira@codemy.com')
(4, 'Ingrid', 'Muller', 'dida_muller@hotmail.com')
(5, 'Francisco', 'Jose', 'fpinheir@gmail.com')
(6, 'Wes', 'Brown', 'wes@brown.com')
(7, 'Steph', 'Kuewa', 'steph@kuewa.com')
(8, 'Dan', 'Pas', 'dan@pas.com')
(9, 'Laura', 'Smith', 'laura@smith.com')

In [8]:
def delete_one(id):
    conn = sqlite3.connect('customer.db')

    #create cursor
    c = conn.cursor()

    c.execute("DELETE FROM costumers WHERE rowid = (?)",id)

    print('Command executed succesfully')
    #commit our command
    conn.commit()

    #close connection
    conn.close()

In [9]:
delete_one('6')

Command executed succesfully

In [10]:
show_all()

(1, 'John', 'Elder', 'john@codemy.com')
(2, 'Gabriel', 'Muller', 'gabriel@codemy.com')
(3, 'Lukas', 'Muller', 'lukasmullerdeoliveira@codemy.com')
(4, 'Ingrid', 'Muller', 'dida_muller@hotmail.com')
(5, 'Francisco', 'Jose', 'fpinheir@gmail.com')
(7, 'Steph', 'Kuewa', 'steph@kuewa.com')
(8, 'Dan', 'Pas', 'dan@pas.com')
(9, 'Laura', 'Smith', 'laura@smith.com')

In [11]:
def add_many(list):
    conn = sqlite3.connect('customer.db')

    #create cursor
    c = conn.cursor()

    c.executemany("INSERT INTO costumers VALUES (?,?,?)", list)

    print('Command executed succesfully')
    #commit our command
    conn.commit()

    #close connection
    conn.close()

In [12]:
stuff = [
    ('Brenda','Venancio','vrenda@benancio.com'),
    ('Cecilia','Silva','cissa@silva.com')
]

add_many(stuff)

Command executed succesfully

In [13]:
show_all()

(1, 'John', 'Elder', 'john@codemy.com')
(2, 'Gabriel', 'Muller', 'gabriel@codemy.com')
(3, 'Lukas', 'Muller', 'lukasmullerdeoliveira@codemy.com')
(4, 'Ingrid', 'Muller', 'dida_muller@hotmail.com')
(5, 'Francisco', 'Jose', 'fpinheir@gmail.com')
(7, 'Steph', 'Kuewa', 'steph@kuewa.com')
(8, 'Dan', 'Pas', 'dan@pas.com')
(9, 'Laura', 'Smith', 'laura@smith.com')
(10, 'Brenda', 'Venancio', 'vrenda@benancio.com')
(11, 'Cecilia', 'Silva', 'cissa@silva.com')

In [24]:
def email_lookup(email):
    conn = sqlite3.connect('customer.db')

    #create cursor
    c = conn.cursor()

    #query the database
    c.execute("SELECT  rowid,* FROM costumers WHERE email = (?)", (email,))


    items = c.fetchall()

    for item in items:
        print(item)

    #close connection
    conn.close()

In [25]:
email_lookup("cissa@silva.com")

(11, 'Cecilia', 'Silva', 'cissa@silva.com')