In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('customer.db')

In [42]:
#create cursor
c = conn.cursor()

#create table
c.execute(""" CREATE TABLE costumers(
    first_name text,
    last_name text,
    email text
    )""")

#NULL INTEGER REAL TEXT BLOB

#commit our command
conn.commit()

#close connection
conn.close()

In [47]:
conn = sqlite3.connect('customer.db')

#create cursor
c = conn.cursor()

c.execute("INSERT INTO costumers VALUES('Francisco','Jose','fpinheir@gmail.com')")

print('Commnad executed succesfully')
#commit our command
conn.commit()

#close connection
conn.close()

Commnad executed succesfully

In [48]:
conn = sqlite3.connect('customer.db')

#create cursor
c = conn.cursor()

many_costumers = [('Wes','Brown','wes@brown.com'),
                 ('Steph','Kuewa','steph@kuewa.com'),
                 ('Dan','Pas','dan@pas.com'),
                ]

c.executemany("INSERT INTO costumers VALUES (?,?,?)", many_costumers)

print('Command executed succesfully')
#commit our command
conn.commit()

#close connection
conn.close()

Command executed succesfully

In [49]:
conn = sqlite3.connect('customer.db')

#create cursor
c = conn.cursor()

#query the database
c.execute("SELECT * FROM costumers")

#print(c.fetchone())

#print(c.fetchmany(3))

print(c.fetchall())

#commit our command
conn.commit()

#close connection
conn.close()

[('John', 'Elder', 'john@codemy.com'), ('Gabriel', 'Muller', 'gabriel@codemy.com'), ('Lukas', 'Muller', 'lukasmullerdeoliveira@codemy.com'), ('Ingrid', 'Muller', 'dida_muller@hotmail.com'), ('Francisco', 'Jose', 'fpinheir@gmail.com'), ('Wes', 'Brown', 'wes@brown.com'), ('Steph', 'Kuewa', 'steph@kuewa.com'), ('Dan', 'Pas', 'dan@pas.com')]

In [20]:
conn = sqlite3.connect('customer.db')

#create cursor
c = conn.cursor()

#query the database
c.execute("SELECT * FROM costumers")

#print(c.fetchone())

#print(c.fetchmany(3))

items = c.fetchall()

for item in items:
    print(item[0])

#commit our command
conn.commit()

#close connection
conn.close()

John
Tim
Mary
Wes
Steph
Dan

In [24]:
conn = sqlite3.connect('customer.db')

#create cursor
c = conn.cursor()

#query the database
c.execute("SELECT rowid, * FROM costumers")

#print(c.fetchone())

#print(c.fetchmany(3))

items = c.fetchall()

for item in items:
    print(item)

#commit our command
conn.commit()

#close connection
conn.close()

(1, 'John', 'Elder', 'john@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brown', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@kuewa.com')
(6, 'Dan', 'Pas', 'dan@pas.com')

In [27]:
conn = sqlite3.connect('customer.db')

#create cursor
c = conn.cursor()

#query the database
c.execute("SELECT  * FROM costumers WHERE EMAIL LIKE '%codemy%'")


items = c.fetchall()

for item in items:
    print(item)

#commit our command
conn.commit()

#close connection
conn.close()

('John', 'Elder', 'john@codemy.com')
('Tim', 'Smith', 'tim@codemy.com')
('Mary', 'Brown', 'mary@codemy.com')

In [33]:
conn = sqlite3.connect('customer.db')

#create cursor
c = conn.cursor()

#query the database
c.execute(""" UPDATE costumers SET first_name = 'Mary'
            WHERE rowid = 3
    """)

#commit our command
conn.commit()

c.execute("SELECT rowid, * FROM costumers")

items = c.fetchall()

for item in items:
    print(item)

#commit our command
conn.commit()

#close connection
conn.close()

(1, 'John', 'Elder', 'john@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brown', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@kuewa.com')
(6, 'Dan', 'Pas', 'dan@pas.com')

In [34]:
conn = sqlite3.connect('customer.db')

#create cursor
c = conn.cursor()

#query the database
c.execute(""" DELETE from costumers WHERE rowid = 6
    """)

#commit our command
conn.commit()

c.execute("SELECT rowid, * FROM costumers")

items = c.fetchall()

for item in items:
    print(item)

#commit our command
conn.commit()

#close connection
conn.close()

(1, 'John', 'Elder', 'john@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brown', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@kuewa.com')

In [38]:
conn = sqlite3.connect('customer.db')

#create cursor
c = conn.cursor()

#order
#c.execute("SELECT rowid, * FROM costumers ORDER BY rowid DESC")#ASC
c.execute("SELECT rowid, * FROM costumers ORDER BY last_name DESC")
items = c.fetchall()

for item in items:
    print(item)

#commit our command
conn.commit()

#close connection
conn.close()

(2, 'Tim', 'Smith', 'tim@codemy.com')
(5, 'Steph', 'Kuewa', 'steph@kuewa.com')
(1, 'John', 'Elder', 'john@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brown', 'wes@brown.com')

In [39]:
conn = sqlite3.connect('customer.db')

#create cursor
c = conn.cursor()

#order
c.execute("SELECT rowid, * FROM costumers WHERE last_name LIKE 'Br%' AND first_name LIKE 'Ma%'")
items = c.fetchall()

for item in items:
    print(item)

#commit our command
conn.commit()

#close connection
conn.close()

(3, 'Mary', 'Brown', 'mary@codemy.com')

In [41]:
conn = sqlite3.connect('customer.db')

#create cursor
c = conn.cursor()

#drop table
c.execute("DROP TABLE costumers")
conn.commit()

c.execute("SELECT rowid, * FROM costumers WHERE last_name LIKE 'Br%' AND first_name LIKE 'Ma%'")
items = c.fetchall()

for item in items:
    print(item)

#commit our command
conn.commit()

#close connection
conn.close()

OperationalError: no such table: costumers